

# Composer lock
composer.lock

# Symfony directories
vendor/*
*/logs/*
*/cache/*
web/uploads/*
web/bundles/*
web/js/*
web/css/*

# Configuration files
app/config/parameters.ini
app/config/parameters.yml

# IDE files
*.sw[op]
/nbproject/
.idea/
.project
.settings

# Ant files
cache.properties
build/

# OS X
._*
.DS_Store
.Trashes

# SASS
.sass-cache/
